/TestSolution/.vs
/TestSolution/testProject/bin
/TestSolution/testProject/obj
/CSharp_Fundamentals_pluralsight/.vs
/CSharp_Fundamentals_pluralsight/WorkingWithClassesAndObjects/bin
/CSharp_Fundamentals_pluralsight/WorkingWithClassesAndObjects/obj
/Threads/obj
/Threads/bin
